<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="POST">

    <label for="email">Email</label>
    <input name="username" placeholder="Email" type="email" required />

    <!-- <label for="username">Username</label>
    <input name="username" placeholder="username" type="text" /> -->
  

    <label for="password">Password</label>
    <input name="password" placeholder="Password" type="password" required />

    <button>Login</button>
  </form>
  <p>Don't have an account yet? <a href="/signup">Sign Up</a> Now</p>
</body>
</html>
