<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Sign Up</h1>
    <form action="" method="POST">
        <label for="firstName">First Name:</label>
        <input name="firstName" placeholder="Enter your First Name" type="text" />

        <label for="lastName">Last Name:</label>
        <input name="lastName" placeholder="Enter your Last Name" type="text" />

        <label for="email">Email:</label>
        <input name="email" placeholder="Enter your Email Address" type="email" />

        <label for="username">Username</label>
        <input name="username" placeholder="Enter your desired Username" type="text" />    

        <label for="password">Password:</label>
        <input name="password" id="password" type="password" />

        <label for="isAdmin">Admin:</label>
        <input name="isAdmin" type="checkbox" /> 

        <button>Sign Up</button>
    </form>
</body>
</html>
